
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

#main h1 {
  color: #1A1B25;
  text-align: center;
}

#main {
  padding: 0;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

#bbok-list {
  padding: 0;
}

#book-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880E4F;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #880E4F;
  position: relative;
}

form {
  background: #fff;
  /* padding: 20px; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
}

#form-fields {
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}

form.field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

form label {
  text-align: right;
  padding: 6px;
}

form select, form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 1em;
  background: #AD1457;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 16px;
  margin: 24px 0 20px 28px;

}

#book-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 60%;
  background: #AD1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px -5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
}

#console {
  width: 50%;
  background: #1A1B25;
  position: fixed;
  height: 40%;
  bottom: 0;
  right: 0;
}

#console-data {
  color: white;
  padding: 20px;
}

#delete-book-button {
  color: #AD1457;
  font-size: 1em;
  background: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  font-weight: bold;
  padding: 8px 16px;
  margin-top: 16px;
}